<div class="jumbotron">
  <h1>Hola <span id="name" class="text-warning"><%= @person.name %></span></h1>
  <h3>Contanos quien sos</h3>

  <%= render 'form' %>
</div>

<footer>
  <p class="text-muted small">
    (*) A nosotros tampoco nos gusta el correo que no pedimos, vamos a usar tu
    dirección solamente para temas relacionados con el curso
  </p>
</footer>
