<div class="hero-unit">
  <h1>Hola <span id="name" class="text-warning"><%= @person.name %></span></h1>
  <h2>Contanos quien sos</h2>

  <%= render 'form' %>
</div>

<footer>
  <p class="muted">
    <small>
      (*) A nosotros tampoco nos gusta el correo que no pedimos,
      vamos a usar tu dirección solamente para esto y al final
      sobre-escribimos toda la base de datos con videos del Sapo Pepe®
    </small>
  </p>
</footer>
