<h1>Hola <%= @enrollment.person.name %>,</h1>

<p>
  Ya estás inscripto al curso <strong><%= @enrollment.course.name %></strong><br />
</p>

<p>
  Si querés ir pre-calentando, acá tenés algunos enlaces que te pueden servir:
</p>

<ul>
  <li>
    <a href="http://tryruby.org/">http://tryruby.org/</a>
    | Probá <a href="https://www.ruby-lang.org/">Ruby</a> desde tu navegador
  </li>
  <li>
    <a href="http://try.github.io/">http://try.github.io/</a>
    | Probá <a href="http://git-scm.com/">Git</a> desde tu navegador
  </li>
  <li>
    <a href="http://vim-adventures.com/">http://vim-adventures.com/</a>
    | Aprendé a manejarte con <a href="http://www.vim.org/">Vim</a>
  </li>
</ul>

<p>Te esperamos</p>
