<h1>Hola <%= @enrollment.person.name %>,</h1>

<p>
  Bienvenido al curso <strong><%= @enrollment.course.name %></strong><br />
  Ya estás inscripto definitivamente =)
</p>

<p>
  Te esperamos ^^
</p>
