<h1>Hola <%= @enrollment.person.name %>,</h1>

<p>
  Bienvenido al curso <strong><%= @enrollment.course.name %></strong>
  Ya estás pre-inscripto solo resta pasar por el centro de estudiantes, a pagar la inscripción.
</p>

<p>
  Te esperamos ^^
</p>
