<h1>Hola <%= @enrollment.person.name %>,</h1>

<p>
  Bienvenido al curso <strong><%= @enrollment.course.name %></strong>
</p>

<p>
  Ya estás pre-inscripto, pasá por el Centro de Estudiantes a pagar la inscripción
</p>

<p>
  Te esperamos
</p>
