<div class="hero-unit">
  <h1>Hola <%= @enrollment.person %>,</h1>

  <p>
    Ya estás inscripto en <strong><%= @enrollment.course %></strong>
  </p>

  <footer>
    <%= link_to 'Volver', root_url %>
  </footer>
</div>
