body {
  /* 40px to make the container go all the way to the bottom of the navbar */
  padding-top: 60px;
}

.jumbotron .help-block {
  font-size: 85%;
}

.loading-caption {
  position: fixed;
  top: 0%;
  left: 50%;
  width: 10em;
  margin: 0em 0em 0em -5em;
  padding: .25em 1em;
  text-align: center;
  line-height: 28px;
  z-index: 1100;
}
