<h2>Hola <strong><%= @resource %></strong>,</h2>

<p>Alguien ha pedido cambiar tu contrase침a, puedes hacerlo con el siguiente enlace:</p>

<p>
  <%= link_to(
    'Cambiar mi contrase침a',
    edit_password_url(@resource, reset_password_token: @token)
  ) %>
  (v치lido hasta el <strong><%= I18n.l(Devise.reset_password_within.from_now, format: :long) %></strong>)
</p>

<p>Si no pediste el cambio, puedes ignorar este correo.</p>
<p>Tu contrase침a no cambia a menos que uses el enlace anterior.</p>
