<div class="hero-unit">
  <h1>Muchas gracias por pre-inscribirte</h1>
  <br />

  <p>
    Ahora solo resta que pases por el centro de estudiantes a pagar
    y terminar la inscripción.
  </p>
      
  <p>Te enviamos un correo a <%= mail_to @person.email %></p>

  <footer>
    <%= link_to 'Volver', root_path %>
  </footer>
</div>
