<div class="jumbotron">
  <h1>Gracias por pre-inscribirte</h1>

  <p>
    Ahora pasá por el Centro de Estudiantes a terminar la inscripción
    <span class="pull-right">
      <%= link_to 'Volver', root_path %>
    </span>
  </p>
</div>

<footer>
  <p class="text-muted">
    Te enviamos un correo a <%= mail_to @person.email %>.
  </p>
</footer>
